.App{
    margin: 10px;
}

.searchDiv{
    border: 30px solid lightslategray;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

}

.searchDiv form{
    display: flex;
    flex-direction: column;
}

.imageList{
    columns: 250px;
    column-gap:10px;
}

.imageListImg{
    width: 100%; /*taşma olmadan kapsayıcı divin genisliği kadar olmasını istedigimiz için */
}

